
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');



$color-primary: #0F1317;
$color-secondary: #00BBE2;
$color-tertiary: #FFFFFF;

* {
    font-family: 'Lato', sans-serif;
    
}


.navbar {
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin: 0;
    padding: 0;
    background: $color-primary;
    height: 196px;


    .navbar-brand {
        padding-top: 0;

        img {
            height: 196px;   

     }


     .img-2{
        display: none;
    }

    .img-1{
        display:block;
    }
    }

    .navbar-nav {
        margin: 0 0 1rem 1rem;

        display: inline-flex;



        
        a {
            color: $color-tertiary;
            font-size: 23px;
            padding: 0;
            margin-left: 1rem;


        }

        .active {
            
            width:100%;
            background-color: #424343;
           
           
           
           // width: 150%;
           


            box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
            



            font-size: 23px;
           

            font-weight: 700;


        }


    }
}

#searcher {
    margin: 1.5rem 0 1rem 0;
    width: 100%;

}

.form-control,
.btn {
    border-radius: 0;
}

#news-articles {
    margin: 0rem 0 1rem 0;
    color: $color-tertiary;


    .news-area {
        padding: 0;
    }

    h3 {
        font-size: .8rem;
        color: $color-secondary;
    }

    a {
        font-size: .5rem;

    }

    .news-roll {
        background-color: $color-primary;
        margin: 1rem .2rem 1rem .2rem;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

        h3 {
            font-weight: 900;
        }

        .img-area {
            padding: 0;
        }

        .date {
            font-weight: 700;
        }

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        .news-area {
            padding: .5rem;
        }


        p {
            margin-bottom: 0;
            font-size: .5rem;
        }
    }

    .news-roll:nth-child(2n) {
        h3 {
            color: $color-primary;
        }

        background-color: $color-secondary;

    }
}





#politician-menu{
    padding-top:1rem;
}



.modal-content,.modal-header{
    border-radius:0;
}

.modal-header{
    background:$color-primary;
    color:$color-tertiary;
    span{
        color:$color-tertiary;
        text-shadow: none;
    }
    .close{
        opacity: 1;
    }
    .modal-title{
        text-transform:uppercase;
    }
}


#politician-area{

    .heading{
        margin-top:1rem;
        background:$color-primary;
        color:$color-tertiary;
    }


    .pol-img{

        width: 100%;
        
        object-fit: cover;

    }
    .bio-area{
        padding:0;
    }

    p{
        font-weight: 700;
        margin: 0;
        font-size: .75rem;

        span{
            font-weight:400;
        }
    }

    i{
        font-size:2rem;
        text-align: center;
        margin:0 .25rem 0 .25rem;
        color:$color-secondary;
       
    }

    .news-header{
        margin-top:1rem;
    }

    

}

.heading{

    margin:1rem 0;
    background:$color-primary;
    color:$color-tertiary;
    
    h1{
        font-size: 2rem;
    }
    
}


#event-calender{


    .row{
        margin:0;


    }


    .col-12{
        padding:0;
    }

    margin-top:1rem;
    .event-header{
        padding:0;
        width:100%;
        height:200px;
        object-fit: cover;
        
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

    }

    .banner{
        background: $color-primary;
        color:$color-tertiary;
       
        margin: 0 0 1rem 0;
       
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        padding:0;

        
        width:100%;

     
        .title{ 
            color: $color-secondary;
            font-weight:700;
            font-size:.9rem;
            padding-top:.5rem;
            
        }
        .date{
            font-size:1.5rem;
            color: $color-secondary;
            font-weight:700;
            padding-top:.5rem;

      
        }
        .col-8{
            padding:0 .5rem 0 0;
        }
        p{
            font-size:.5rem;
        }

        br{
            margin:0;
        }
 

    }

}



@import 'media';